mixin ui-checkbox(id, text, mods)
  -
    const baseName = 'ui-checkbox'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-checkbox(class=allMods)&attributes(attributes)
    input(id=id name=id type='checkbox')
    label(for=id)!=text
      block
