mixin ui-select(mods, ...data)
  -
    const baseName = 'ui-select';
    let allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (const element of modsList) {
        allMods = allMods + ' '
        allMods = element.trim()[0] === '-' ? allMods + baseName + element.trim() : allMods + element.trim() + '__' + baseName
      }
    }

  .ui-select(class=allMods)&attributes(attributes)
    select
      each item in data
        option=item
