mixin slider(mods)
  -
    const baseName = 'slider';
    let allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (const element of modsList) {
        allMods = allMods + ' '
        allMods = element.trim()[0] === '-' ? allMods + baseName + element.trim() : allMods + element.trim() + '__' + baseName
      }
    }

  .slider(class=allMods)&attributes(attributes)
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          +icon('icon_fb')
        .swiper-slide
          +icon('icon_ig')
        .swiper-slide
          +icon('icon_tt')
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
    block
