mixin ui-input(id, text, mods, type)
  -
    const baseName = 'ui-input';
    let allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (const element of modsList) {
        allMods = allMods + ' '
        allMods = element.trim()[0] === '-' ? allMods + baseName + element.trim() : allMods + element.trim() + '__' + baseName
      }
    }

  .ui-input(class=allMods)
    input(id=id type=(typeof(type) !== 'undefined' && type ? type : 'text'))&attributes(attributes)
    label(for=id)=text
