mixin ui-tooltip(text, mods)
  -
    const baseName = 'ui-tooltip'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-tooltip(class=allMods)&attributes(attributes)
    button(data-tippy-content=text) Test
    block
