mixin pagination(mods)
  -
    const baseName = 'pagination'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .pagination(class=allMods)&attributes(attributes)
    a.pagination__link.pagination__link--prev.pagination__link--disabled(href='#')
      svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewbox='0 0 8 12')
        path(fill='currentColor' d='M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z')
    ul.pagination__list
      each item, index in [1, 2, 3]
          li.pagination__item(class=(index === 0 ? 'pagination__item--active' : ''))
            a.pagination__link(href='#')=item
    a.pagination__link.pagination__link--next(href='#')
      svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewbox='0 0 8 12')
        path(fill='currentColor' d='M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z')
