.ui-button {
  display: inline-block;
  a,
  input {
    width: 100%;
    padding: 15px 50px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    background: #fff;
    border: 1px solid teal;
    border-radius: 6px;
    transition: 0.3s ease;
    cursor: pointer;
    @include media-laptop {
      padding: 20.5px 50px;
      font-size: 14px;
    }
    @include media-laptop {
      padding: 14.5px 30px;
      font-size: 13px;
    }
    &:hover {
      color: teal;
    }
  }
  &--filled {
    a,
    input {
      color: #fff;
      background: teal;
      &:hover {
        color: teal;
        background: #fff;
      }
    }
  }
}
