mixin gallery(mods)
  -
    const baseName = 'gallery';
    let allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (const element of modsList) {
        allMods = allMods + ' '
        allMods = element.trim()[0] === '-' ? allMods + baseName + element.trim() : allMods + element.trim() + '__' + baseName
      }
    }

  .gallery(class=allMods)&attributes(attributes)
    block

mixin gallery-item(src, mods)
  -
    let allMods = ''
    if (typeof (mods) !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods = allMods + ' gallery__item--' + element.trim()
      }
    }

  .gallery__item(class=allMods)&attributes(attributes)
    a.gallery__link(href='/img/' + src data-fancybox='gallery')
      img.gallery__img(src='/img/' + src alt='')
