mixin gallery(mods)
  -
    var baseName = 'gallery';
    var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          if (modsList[i].trim()[0] == '-') {
            allMods = allMods + baseName + modsList[i].trim() + ' ';
          } else {
            allMods = allMods + modsList[i].trim() + '__' + baseName + ' ';
          }
        }
      }

  .gallery(class=allMods)&attributes(attributes)
    block

mixin gallery-item(src, mods)
  -
    var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' gallery__item--' + modsList[i].trim();
      }
    }

  .gallery__item(class=allMods)&attributes(attributes)
    a.gallery__link(href='/img/' + src data-fancybox='gallery')
      img.gallery__img(src='/img/' + src alt='')
