mixin ui-h2(text, mods)
  -
    const baseName = 'ui-h2'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  h2.ui-h2(class=allMods)&attributes(attributes)=text
    block
