.ui-input {
  position: relative;
  input {
    width: 100%;
    padding: 16px 20px 13px;
    font: 16px/1.5 $font;
    background: #fff;
    border: 1px solid teal;
    border-radius: 6px;
    outline: none;
    &.filled ~ label,
    &:focus ~ label {
      top: 2px;
      transform: translateY(0%);
      font-size: 10px;
    }
    &.parsley-error ~ label {
      color: red;
    }
  }
  .parsley-errors-list {
    position: absolute;
    bottom: -30px;
    left: 0;
    font: 300 14px/1 $font;
    color: red;
    background: #fff;
    border-radius: 4px;
    &.filled {
      padding: 5px 10px;
    }
  }
  label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font: 16px/1.5 $font;
    color: #b2b2b2;
    transition: 0.3s ease;
    pointer-events: none;
  }
}
