mixin ui-input(id, text, mods, type)
  -
    var baseName = 'ui-input';
    var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          if (modsList[i].trim()[0] == '-') {
            allMods = allMods + baseName + modsList[i].trim() + ' ';
          } else {
            allMods = allMods + modsList[i].trim() + '__' + baseName + ' ';
          }
        }
      }

  .ui-input(class=allMods)
    input(id=id type=(typeof(type) !== 'undefined' && type ? type : 'text'))&attributes(attributes)
    label(for=id)=text
