mixin ui-textarea(mods)
  -
    const baseName = 'ui-textarea';
    let allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (const element of modsList) {
        allMods = allMods + ' '
        allMods = element.trim()[0] === '-' ? allMods + baseName + element.trim() : allMods + element.trim() + '__' + baseName
      }
    }

  .ui-textarea(class=allMods)
    textarea()&attributes(attributes)
    .ui-textarea__counter
