mixin ui-textarea(mods)
  -
    const baseName = 'ui-textarea'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-textarea(class=allMods)
    textarea()&attributes(attributes)
    .ui-textarea__counter
