.ui-button {
  display: inline-block;
  width: 250px;
  padding: 15px 50px;
  text-align: center;
  text-transform: uppercase;
  font: 16px/1.5 $font;
  color: $black;
  background: #fff;
  border: 1px solid $teal;
  border-radius: 6px;
  transition: 0.3s ease;
  cursor: pointer;
  &:hover {
    color: $teal;
  }
  &--filled {
    color: #fff;
    background: $teal;
    &:hover {
      color: $teal;
      background: #fff;
    }
  }
}
