$font: 'Roboto', 'Arial', sans-serif;

$black: #0c0c0c;
$orange: #fe5000;
$teal: #008080;

$mediaWidthDesktop: 1580px;
$mediaWidthLaptop: 1366px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 320px;
