mixin section-title(sectionTitle, mods)
  -
    const baseName = 'section-title';
    let allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (const element of modsList) {
        allMods = allMods + ' '
        allMods = element.trim()[0] === '-' ? allMods + baseName + element.trim() : allMods + element.trim() + '__' + baseName
      }
    }

  h2.section-title(class=allMods)&attributes(attributes)=sectionTitle
    block
