mixin page-section(mods)
  -
    var baseName = 'page-section';
    var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          if (modsList[i].trim()[0] == '-') {
            allMods = allMods + baseName + modsList[i].trim() + ' ';
          } else {
            allMods = allMods + modsList[i].trim() + '__' + baseName + ' ';
          }
        }
      }

  section.page-section(class=allMods)&attributes(attributes)
    block
