mixin section-title(sectionTitle, mods)
  -
    var baseName = 'section-title';
    var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          if (modsList[i].trim()[0] == '-') {
            allMods = allMods + baseName + modsList[i].trim() + ' ';
          } else {
            allMods = allMods + modsList[i].trim() + '__' + baseName + ' ';
          }
        }
      }

  .section-title(class=allMods)&attributes(attributes)
    h2.section-title__text=sectionTitle
    block
