mixin ui-datepicker(title, mods)
  -
    const baseName = 'ui-datepicker';
    let allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (const element of modsList) {
        allMods = allMods + ' '
        allMods = element.trim()[0] === '-' ? allMods + baseName + element.trim() : allMods + element.trim() + '__' + baseName
      }
    }

  .ui-datepicker(class=allMods)&attributes(attributes)
    +ui-input('datepicker' + mods, title, 'ui-datepicker')(readonly)
      +icon('icon_calendar')
