mixin ui-range(mods)
  -
    const baseName = 'ui-range'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-range(class=allMods)&attributes(attributes)
    .ui-range-body
    .ui-range__wrap
      .ui-range-value-lower
      .ui-range-value-upper
    block
