extends layouts/layout

block variables
  -const pageTitle ='Repository blocks'

block content
  main
    .inner
      +section-title(pageTitle)
      +section()
        +section-title('Breadcrumbs', 'section')
        +breadcrumbs()
          +breadcrumbs-item('Main', '/')
          +breadcrumbs-item('News')
      +section()
        +section-title('Gallery', 'section')
        +gallery()
          +gallery-item('fancy_img1.png')
          +gallery-item('fancy_img2.png')
          +gallery-item('fancy_img3.png')
      +section()
        +section-title('Page title', 'section')
        +page-title(pageTitle)
      +section()
        +section-title('Pagination', 'section')
        +pagination()
      +section()
        +section-title('Section title', 'section')
        +section-title('Section title')
      +section()
        +section-title('Slider', 'section')
        +slider()
      +section()
        +section-title('UI Buttons', 'section')
        +ui-button('Кнопка-ссылка')(href='/')
        +ui-button('Кнопка-submit', '', true)
        +ui-button('Кнопка-button')
        br
        br
        +ui-button('Кнопка-ссылка', '--filled')(href='/')
        +ui-button('Кнопка-submit', '--filled', true)
        +ui-button('Кнопка-button', '--filled')
      +section()
        +section-title('UI Checkbox', 'section')
        +ui-checkbox('id', 'I love ')
          a(href='') semolina
      +section()
        +section-title('UI Date', 'section')
        +section-title('UI Date single', 'section')
        +ui-datepicker('', '--single')
        +section-title('UI Date range', 'section, --mt')
        +ui-datepicker('', '--range')
        +section-title('UI Date time', 'section, --mt')
        +ui-datepicker('', '--time')
      +section()
        +section-title('UI Input', 'section')
        +ui-input('phone', 'Phone')(required)
      +section()
        +section-title('UI Range', 'section')
        +ui-range()
      +section()
        +section-title('UI Select', 'section')
        +ui-select('', 'Option 1', 'Option 2', 'Option 3', 'Option 4')
      +section()
        +section-title('UI Textarea', 'section')
        +ui-textarea()(maxlength='256')
      +section()
        +section-title('UI Tooltip', 'section')
        +ui-tooltip('Tooltip text')
      +section()
        +section-title('Lazy load test', 'section')
        img.lazyload(src='/img/swim.jpg' data-src='/img/fancy_img1.png' alt='')
      +section()
        +section-title('Lazy load test', 'section')
        img.lazyload(src='/img/swim.jpg' data-src='/img/fancy_img2.png' alt='')
      +section()
        +section-title('Lazy load test', 'section')
        img.lazyload(src='/img/swim.jpg' data-src='/img/fancy_img3.png' alt='')
