extends layouts/layout

block variables
  -const pageTitle ='Repository blocks'

block content
  main
    .inner
      +ui-h1(pageTitle)
      +section()
        +ui-h2('Breadcrumbs', 'section')
        +breadcrumbs()
          +breadcrumbs-item('Main', '/')
          +breadcrumbs-item('News')
      +section()
        +ui-h2('Gallery', 'section')
        +gallery()
          +gallery-item('fancy_img1.png')
          +gallery-item('fancy_img2.png')
          +gallery-item('fancy_img3.png')
      +section()
        +ui-h2('Pagination', 'section')
        +pagination()
      +section()
        +ui-h2('Section title', 'section')
        +ui-h2('Section title')
      +section()
        +ui-h2('Slider', 'section')
        +slider()
      +section()
        +ui-h2('UI Buttons', 'section')
        +ui-button('Кнопка-ссылка')(href='/')
        +ui-button('Кнопка-submit', '', true)
        +ui-button('Кнопка-button')
        br
        br
        +ui-button('Кнопка-ссылка', '--filled')(href='/')
        +ui-button('Кнопка-submit', '--filled', true)
        +ui-button('Кнопка-button', '--filled')
      +section()
        +ui-h2('UI Checkbox', 'section')
        +ui-checkbox('id', 'I love ')
          a(href='') semolina
      +section()
        +ui-h2('UI Date', 'section')
        +ui-h2('UI Date single', 'section')
        +ui-datepicker('', '--single')
        +ui-h2('UI Date range', 'section, --mt')
        +ui-datepicker('', '--range')
        +ui-h2('UI Date time', 'section, --mt')
        +ui-datepicker('', '--time')
      +section()
        +ui-h2('UI Input', 'section')
        +ui-input('phone', 'Phone')(required)
      +section()
        +ui-h2('UI Range', 'section')
        +ui-range()
      +section()
        +ui-h2('UI Select', 'section')
        +ui-select('', 'Option 1', 'Option 2', 'Option 3', 'Option 4')
      +section()
        +ui-h2('UI Textarea', 'section')
        +ui-textarea()(maxlength='256')
      +section()
        +ui-h2('UI Tooltip', 'section')
        +ui-tooltip('Tooltip text')
      +section()
        +ui-h2('Lazy load test', 'section')
        img.lazyload(src='img/swim.jpg' data-src='img/fancy_img1.png' alt='')
      +section()
        +ui-h2('Lazy load test', 'section')
        img.lazyload(src='img/swim.jpg' data-src='img/fancy_img2.png' alt='')
      +section()
        +ui-h2('Lazy load test', 'section')
        img.lazyload(src='img/swim.jpg' data-src='img/fancy_img3.png' alt='')
