-
  let headerMenu =[
    { title: 'Title 1',
      list: [
        { name: 'Link 1', link: '#' },
        { name: 'Link 2', link: '#' },
        { name: 'Link 3', link: '#' },
        { name: 'Link 4', link: '#' },
        { name: 'Link 5', link: '#' }
      ]
    },
    { title: 'Title 2', link: '#' },
    { title: 'Title 3',
      list: [
        { name: 'Link 1', link: '#' },
        { name: 'Link 2', link: '#' },
        { name: 'Link 3', link: '#' },
        { name: 'Link 4', link: '#' },
        { name: 'Link 5', link: '#' }
      ]
    },
    { title: 'Title 4', link: '#' }
  ]

header.header
  .inner
    a.header__logo(href='/')
      +icon('icon_logo')
    ul.header__menu
      each headerMenuItem in headerMenu
        li.header__item
          if headerMenuItem.list
            .header__link.header__link--arrow=headerMenuItem.title
            ul.header__list
              each headerMenuItemLink in headerMenuItem.list
                li.header__item
                  a.header__link(href=headerMenuItemLink.link)=headerMenuItemLink.name
          else
            a.header__link(href=headerMenuItem.link)=headerMenuItem.title
