mixin ui-ul(listItems, mods)
  -
    const baseName = 'ui-ul'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  ul.ui-ul(class=allMods)&attributes(attributes)
    each item in listItems
      li
        +ui-p2(item.title)
        if item.descr
          +ui-p2(item.descr, '--light')
    block
